.crd {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.crd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bg-set {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
  display: block;
}

.im {
  border-radius: 5px 5px 0 0;
  justify-content: center;
  margin: auto;
  display: block;
  align-items: center;
}

.con {
  padding: 2px 16px;
}
/**************************************** */
.mycard {
  background-color: rgba(128, 255, 255, 0.055);
  border-color: none;

}

.in-style {
  display:inline-block;
}

.p-tag {
    display:inline-block;
    margin-left:10px;
}

.p-name {
    float:left;
}

.mycard {
  box-shadow: 0 4px 8px 0 rgba(121, 255, 73, 0.2), 0 6px 20px 0 rgba(34, 255, 123, 0.19);
}

.mycard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dash {
  margin: 5px 8px 3px 7px;
  padding: 5px 12px;
}