
@media screen and (max-width: 768px) {
  .cls {
    background-color: #f743;
  }

  .cls2 {
        background-color: #f7d3;
  }
}

#square {
  width: 20em;
  height: 20em;
  border: 2px inset gray;
  margin-bottom: 1em;
}

button {
  padding: .5em 2em;
}
