    .a input {
    box-shadow: none;
    border: none;
    text-align: right;
    width: 140px;
    }

    .b {
          margin: 0px;
    box-sizing: border-box;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid rgb(239, 242, 245);
    }
    .b > img {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    .left_side {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    padding: 20px 24px;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    }
    .right_side {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    padding: 20px 24px;
    background-color: rgb(248, 250, 253);
    -webkit-box-align: center;
    align-items: center;
    }
    .box_right_position {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: rgb(34, 37, 49);
    }
    .project_logo {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-inline-end: 12px;
    }
    .box_text_part {
    box-sizing: border-box;
    margin: 0px;
    }
    .converter_p_ticker {
    line-height: 1.5;
    margin: 0px;
    color: rgb(88, 102, 126);
    font-size: 11px;
    }
    .converter_p_name {
    line-height: 1.5;
    margin: 0px;
    color: rgb(34, 37, 49);
    font-size: 14px;
    font-weight: 500;
    }
    .convert_part {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    }
    .bia {
    background-color: rgb(248, 250, 253);
    }

    .actionBtnDesign {
        background-color: #007bff;
        color: white;
        padding: 10px;
        opacity: 0.7;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-align: center;
        width: 375px;
    }