<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CS Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/details.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="/css/design.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>
</head>
<body>

<div class="container" style="margin-top: 105px;" th:each="pr:${project}" th:object="${project}">

  <div class="disp">
    <div class="row">
      <div class="col-md-auto col-sm-12" style="font-size: 15px; max-width: 500px; margin-right: 15px;">
        <div class="project-title" style="display: flex">
          <h4 th:text="${pr.p_name}" style="margin-right: 3px"></h4>
          <h4>(</h4>
          <h4 th:text="${pr.p_ticker}" id="pr_ticker"></h4>
          <h4>)</h4>
        </div>
        <h4>Info</h4>

          <li style="list-style-type:none; color: #dd4814; display: flex;">
            <i class="bi bi-search-heart-fill" ></i>
            <a href="#" style="color: #dd4814;">
                <ul style="list-style-type: none; display: flex; margin-left: -35px;">
                  <li th:text="${pr.p_name}" style="margin-right: 4px"></li>
                  <li>cs explorer</li>
                </ul>
            </a>
          </li>

        <div class="li-color" style="color: #dd4814; list-style-type: none; display: inline-block;">
          <li>
            <i class="bi bi-coin" style="margin-right: 3px;"></i>
            <a href="#" style="color: #dd4814;">Announcement</a>
          </li>
          <li>
            <i class="bi bi-github" style="margin-right: 3px;"></i>
            <a href="#" style="color: #dd4814;">Github</a>
          </li>
          <li>
            <i class="bi bi-globe2" style="margin-right: 3px;"></i>
            <a th:href="${pr.p_website_url}" style="color: #dd4814;">Website</a>
          </li>
        </div>
        <br>
        <br>
        <div class="li-color" style="color: #dd4814; list-style-type: none;">
          <li>
            <i class="bi bi-discord" style="margin-right: 3px;"></i>
            <a href="#" style="color: #dd4814;">Discord</a>
          </li>
          <li>
            <i class="bi bi-twitter" style="margin-right: 3px;"></i>
            <a href="#" style="color: #dd4814;">Twitter</a>
          </li>
        </div>
        <br>
        <li style="list-style-type:none; color: #dd4814">
          <i class="bi bi-search" style="margin-right: 3px;"></i>
          <a href="#" style="color: #dd4814;">Explorer </a>
        </li>
        <br>
        <div class="sec-section-li" style="list-style-type: none">
          <li>Launch masternode:</li>
          <li style="color: #dd4814">
            <i class="bi bi-mask"></i>
            <a href="#" style="color: #dd4814">PerfectNodes</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-mask"></i>
            <a href="#" style="color: #dd4814">AllNodes</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-mask"></i>
            <a href="#" style="color: #dd4814">APIS Platform</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-mask"></i>
            <a href="#" style="color: #dd4814">JUST MINING</a>
          </li>
          <li>Markets:</li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">txbit.io</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">HitBTC</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">Polonix</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">Bittrex</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">Graviex.net</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">UPBIT</a>
          </li>
          <li style="color: #dd4814">
            <i class="bi bi-currency-exchange"></i>
            <a href="#" style="color: #dd4814">CREX24</a>
          </li>
        </div>
      </div>

      <div class="col-md-10 col-sm-1" style="max-width: 900px">
        <div class="row">
          <div class="col-lg-3">
            <div class="card mb-3"
                 style="box-shadow: 0 4px 8px 0 rgba(240, 173, 78, 0.07), 0 6px 20px 0 rgba(240, 173, 78, 0.07); border: 1px solid rgba(240, 173, 78, .2);">
              <div class="card-header alert-warning" style="color: rgba(240, 173, 78, 1)">Daily income</div>
              <div class="card-body">
                <p class="card-text">content.</p>
                <p class="card-text">content.</p>
                <h6 class="card-text text-success">content.</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card mb-3"
                 style="box-shadow: 0 4px 8px 0 rgba(92, 184, 92, 0.07), 0 6px 20px 0 rgba(92, 184, 92, 0.07); border: 1px solid rgba(92, 184, 92, .2)">
              <div class="card-header alert-success" style="color: rgba(92, 184, 92, 1)">Weekly income</div>
              <div class="card-body">
                <p class="card-text">content.</p>
                <p class="card-text">content.</p>
                <h6 class="card-text text-success">content.</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card mb-3"
                 style="box-shadow: 0 4px 8px 0 rgba(2, 117, 216, 0.07), 0 6px 20px 0 rgba(2, 117, 216, 0.07); border: 1px solid rgba(2, 117, 216, .2)">
              <div class="card-header alert-primary" style="color: rgba(2, 117, 216, 1)">Monthly income</div>
              <div class="card-body">
                <p class="card-text">content.</p>
                <p class="card-text">content.</p>
                <h6 class="card-text text-success">content.</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card mb-3"
                 style="box-shadow: 0 4px 8px 0 rgba(217, 83, 79, 0.07), 0 6px 20px 0 rgba(217, 83, 7, 0.07); border: 1px solid rgba(217, 83, 79, .2)">
              <div class="card-header alert-danger" style="color: rgba(217, 83, 79, 1)">Yearly income</div>
              <div class="card-body">
                <p class="card-text">content.</p>
                <p class="card-text">content.</p>
                <h6 class="card-text text-success ">content.</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="price-stats ">
          <div style="display: flex;">
            <h3 th:text="${pr.p_name}" style="margin-right: 8px"></h3>
            <h3>PRICE STATS</h3>
          </div>
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th scope="col">Price</th>
              <th scope="col">Volume</th>
              <th scope="col">Marketcap</th>
              <th scope="col">Change</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td id="price_usd">$0.000</td>
              <td id="volume_usd">$0.000</td>
              <td id="marketcap_usd">$0.000</td>
              <td id="percent_change"></td>
            </tr>
            <tr class="table-light">
              <td id="price_btc">0.00000000 BTC</td>
              <td id="volume_btc">0.00000000 BTC</td>
              <td id="marketcap_btc" colspan="2">0.00000000 BTC</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="masternode-stats">
          <div style="display: flex;">
            <h3 th:text="${pr.p_name}" style="margin-right: 8px"></h3>
            <h3>MASTERNODE STATS</h3>
          </div>
          <p>based on actual data over the past 24 hours</p>

          <table class="table table-striped">
            <tbody>
            <tr>
              <td>ROI (annual):</td>
              <td>6.32% / 5775 days</td>
            </tr>
            <tr>
              <td>Paid rewards for masternodes:	</td>
              <td>667.1396 DASH</td>
            </tr>
            <tr>
              <td>AVG masternode reward frequency:</td>
              <td>6d 23h 52m 10s</td>
            </tr>
            <tr>
              <td>Active masternodes:</td>
              <td>3,854 - <a href="#">status overview</a></td>
            </tr>
            <tr>
              <td>Supply:</td>
              <td>11,218,584 DASH</td>
            </tr>
            <tr>
              <td>Coins locked in masternodes collateral:</td>
              <td>3,854,000 DASH (34.35%)</td>
            </tr>
            <tr>
              <td>Required coins for masternode:</td>
              <td>1,000 DASH</td>
            </tr>
            <tr>
              <td>Masternode worth:</td>
              <td>$57,288.12 / 2.04243 BTC</td>
            </tr>
            <tr>
              <td>Masternode cap:</td>
              <td>$220,788,410.90 / 7,871.53 BTC</td>
            </tr>
            </tbody>
          </table>
        </div>

        <br />
        <div class="chart">
          <div style="display: flex;">
            <h3 th:text="${pr.p_name}" style="margin-right: 8px"></h3>
            <h3>Price Charts</h3>
          </div>
          <div class="tv_c" id="tv_chart"></div>
        </div>

        <br />
        <div class="blockchain-stats">
          <div style="display: flex;">
            <h3 th:text="${pr.p_name}" style="margin-right: 8px"></h3>
            <h3>BLOCKCHAIN STATS</h3>
          </div>
          <p>based on actual data over the past 24 hours</p>
          <table class="table table-striped">
            <tr>
              <td>Blocks:</td>
              <td>551</td>
            </tr>
            <tr>
              <td>AVG block time:</td>
              <td>2m 36s</td>
            </tr>
            <tr>
              <td>Genesis block:</td>
              <td>9y 78d 13h 22m 57s ago / Jan 19 2014 03:54:41</td>
            </tr>
          </table>
        </div>
        <div class="wallet-info">
          <div style="display: flex;">
            <h3 style="margin-right: 8px">CS</h3>
            <h3 th:text="${pr.p_name}" style="margin-right: 8px"></h3>
            <h3>WALLET INFO</h3>
          </div>
          <p>based on actual data over the past 24 hours</p>
          <table class="table table-striped">
            <tr>
              <td>Wallet version:</td>
              <td>150000</td>
            </tr>
            <tr>
              <td>Protocol version:</td>
              <td>70216</td>
            </tr>
            <tr>
              <td>Wallet connections:</td>
              <td>10 peers - <a href="#">show addnodes</a></td>
            </tr>
          </table>
        </div>

        <br />
        <div class="block-update-info">
          <p>Last price and masternodes count update: 3m 35s ago</p>
          <p>Last DASH block 1,849,443 generated: 34s ago</p>
          <br />
          <p>ROI is calculated based on actual rewards for each block for the last 24 hours.</p>
          <br />
          <p style="font-weight: bold">CS platform is a marketing cryptocurrency monitoring and stats service. CS Team does not research or recommend any coin. Do your own research and invest at your own risk.</p>
          <br />
          <p>ROI changes often and is not the most important factor. Please consider <span style="font-weight: bold">Dev Team - Community - PURPOSE/Platform - Liquidity - Wallet</span> when making masternode purchases.</p>
        </div>
      </div>
    </div>
  </div>

<!--  <button type="button" th:onclick="showAlert()">Show Alert</button>-->


  <!--
  <div class="row">

    <div class="col-lg-3">
      <div class="card mb-3"
           style="box-shadow: 0 4px 8px 0 rgba(240, 173, 78, 0.07), 0 6px 20px 0 rgba(240, 173, 78, 0.07); border: 1px solid rgba(240, 173, 78, .2)">
        <div class="card-header alert-warning" style="color: rgba(240, 173, 78, 1)">Daily income</div>
        <div class="card-body">
          <p class="card-text test">content.</p>
          <p class="card-text test">content.</p>
          <h6 class="card-text text-success">content.</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mb-3"
           style="box-shadow: 0 4px 8px 0 rgba(92, 184, 92, 0.07), 0 6px 20px 0 rgba(92, 184, 92, 0.07); border: 1px solid rgba(92, 184, 92, .2)">
        <div class="card-header alert-success" style="color: rgba(92, 184, 92, 1)">Weekly income</div>
        <div class="card-body">
          <p class="card-text">content.</p>
          <p class="card-text">content.</p>
          <h6 class="card-text text-success">content.</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mb-3"
           style="box-shadow: 0 4px 8px 0 rgba(2, 117, 216, 0.07), 0 6px 20px 0 rgba(2, 117, 216, 0.07); border: 1px solid rgba(2, 117, 216, .2)">
        <div class="card-header alert-primary" style="color: rgba(2, 117, 216, 1)">Monthly income</div>
        <div class="card-body">
          <p class="card-text test">content.</p>
          <p class="card-text test">content.</p>
          <h6 class="card-text text-success">content.</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card mb-3"
           style="box-shadow: 0 4px 8px 0 rgba(217, 83, 79, 0.07), 0 6px 20px 0 rgba(217, 83, 7, 0.07); border: 1px solid rgba(217, 83, 79, .2)">
        <div class="card-header alert-danger" style="color: rgba(217, 83, 79, 1)">Yearly income</div>
        <div class="card-body">
          <p class="card-text test">content.</p>
          <p class="card-text test">content.</p>
          <h6 class="card-text text-success ">content.</h6>
        </div>
      </div>
    </div>
  </div>
  -->

<!--  <div id="vid"></div>-->
<!--  <h1>JavaScript sample</h1>-->
<!--  <div id="square"></div>-->
<!--  <button type="button" id="clickMe">Click Me</button>-->

</div>
<script src="https://unpkg.com/lightweight-charts@3.4.0/dist/lightweight-charts.standalone.production.js"></script>
<script type="text/javascript" th:src="@{/js/action.js}"></script>
<script type="text/javascript" src="/js/test_script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>